.row{
  margin-right: 0;

}
.container-fluid{
  padding:0;
}

/*=======================*/
/* Top Social Media Links */
@media screen and (max-width:768px){
  .socialMediaTop{
    display: none;
  }
}
@media screen and (max-width:768px) {
  #image-animation {
    height: 50%;
    width: 50%;
    position: relative;
  }
}

.socialMediaTop{
  background-color: rgb(36, 66, 147);
  height:45px;

}

#subsidiary{
  background:none;
  color: whitesmoke;
  margin:0px 20px;
  margin-top:7px;
  padding-top: 10px;
  /*border-right: 2px solid whitesmoke;*/
}

.contactTimings{

  margin-left:20px;
  margin-top:20px;
  float: left;

}

.socialLinks{
  margin-top:20px;
  margin-right: 25px;

  /*-webkit-margin-top:20px;
  -webkit-margin-right:25px;*/
  float:right;
  color: aliceblue;

}
/* End of Top Social Media Links */
/*==============================*/


/*==============================*/
/* CSS for Navigation-bar */
nav{
  width: 60%;
  float: right;
  margin-right: 2%;

}

.navigation-fixed{
  position: fixed;
  width: 100%;
  top: 54px;
  z-index: 999999;
}

.nav-fixed-top{
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 999999;
  background-color:rgb(0, 9, 63);
}


nav ul:hover li{
  list-style-type: none;


}

nav ul li:hover{
border-bottom: 1px solid rgb(90, 90, 252);

}

nav ul {
  list-style-type: none;
  background-color:none;
  display: flex;
  flex-direction: column;
}
nav ul li a{
  padding:.8rem 0rem;
  display: block;
  text-decoration: none;
  color: white;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
}

nav ul li a:hover{
  text-decoration: none;
}
nav ul li:hover{
  background: white;

}

nav ul li:hover a{
  background: white;
  color: black;

}



/*nav ul li > ul >li > a{
  border-bottom: .5px solid grey;
}*/

nav ul li:hover > ul >li >a{
  background: rgb(218, 218, 218);

}

nav ul li >ul >li >a:hover{
  background: rgb(36, 66, 147);
  color:white;

}
label{
  font-size: 20px;
  width:100%;

}
@media only screen and (max-width:786px){

nav{
   display: none;
   width: 100%;
   background-color:black;
  margin-left:0;
 /* margin-top:70px;*/
}

.navigation-fixed{
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999999;
  /*background-color:rgb(36, 66, 147);*/
  background-color:black;
  min-height:55px;
}

label{
 display:block;
 width:100%;
 z-index: 200;
 text-align: center;
 margin-top:-20px;
 background-color: black;
 color:white;
 margin-right: 0px;
 /* display:block;
cursor: pointer;*/

 /*margin:0 40px 0 0;
font-size: 26px;
display:none;
width:26px;
float:right;*/


}

#menubar:checked ~ nav{
   display: block;

}
  .has-children ul li a {
      padding:.25rem;
  }

  .has-children ul .has-children ul a{
      padding: 1rem;

  }

  nav ul li{
      position: relative;
      flex: 1 0 auto;
      text-align: left;

  }

  .has-children ul, .has-children ul .has-children ul{

      display: none;
  }

  .has-children:hover ul, .has-children ul .has-children:hover ul{
      display: block;
  }

  nav ul li ul.closed{
    display:none;
  }

  input[type="checkbox"]  {
    display:none;
   }
}

@media only screen and (min-width:786px){
input[type="checkbox"]  {
  display:none;
 }
label{
   display: none;
 }
nav {
 margin-top:30px;
 /*margin-left: 25%;*/
 }
nav ul {
      flex-direction: row;
      justify-content: space-between;
     }

  nav ul li{
      position:relative;
      flex: 1 0 auto;
      text-align: center;

  }
#About-Menu{
  flex:1 0 auto;
}
  .has-children ul, .has-children ul .has-children ul{
      display: none;
      position: absolute;
      width:100%;
  }

  .has-children ul .has-children ul{
      left: 98%;
      top: 0;

  }

  nav ul li:hover ul, .has-children ul .has-children:hover ul{
   display: flex;
   flex-direction: column;
   padding:0;
   margin:0;

  }
  nav ul li ul.closed{
    display:none;
  }

}


label{
  margin:0 40px 0 0;
  font-size: 26px;
  display:none;
  width:26px;
  float:right;
}

#toggle{
  display:none;
}



@media only screen and (max-width:768px){
  label{
    display:block;
    cursor: pointer;
  }


}
.menu-closed{
  display:none;
}

/*CSS for Carousel*/
.carousel-inner  {
  z-index: -1;

}
@media only screen and (max-width:768px){
  .carousel{
    z-index:-1;
  }
}
.coreValues{
color: white;
font-family: "Montserrat", sans-serif;
/*border-right:1px solid rgba(255, 255, 255,0.5);*/
/*background-color: rgb(36 , 124 , 143);*/
}


.coreValues h2{
  margin-top:30px;
}

.coreValues h2, .coreValues h4, .coreValues p{
  margin-left:30px;
}

.coreValues p{
  font-size:14px;
}
.vision-Mission h2{
  margin-top:30px;

}

#valuesInto{
  margin:0;
	padding:0;
	font-family:"arial",heletica,sans-serif;
	font-size:12px;
    background: #2980b9 url('https://static.tumblr.com/03fbbc566b081016810402488936fbae/pqpk3dn/MRSmlzpj3/tumblr_static_bg3.png') repeat 0 0;
	-webkit-animation: 10s linear 0s normal none infinite animate;
	-moz-animation: 10s linear 0s normal none infinite animate;
	-ms-animation: 10s linear 0s normal none infinite animate;
	-o-animation: 10s linear 0s normal none infinite animate;
	animation: 10s linear 0s normal none infinite animate;

}

@-webkit-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}

@-moz-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}

@-ms-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}

@-o-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}

@keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}

@media only screen and (max-width:760px){
  #Values{
    margin: 10px 0;
  }
}
.vision-Mission{
  min-height: 400px;
  color:white;
  font-family: "Montserrat", sans-serif;

 background-color:rgba(221,221,221,0.3);
 margin-right:0;
 padding-right:0;
 /*border:1px solid white;*/
}
.vision-Mission h2, .coreValues h2{
  /*color:rgb(254,118,62);*/
  color:white;
}
#mission h2{
  margin-top:130px;

}
::placeholder{
  color:white;
  opacity:1;
}
::-webkit-input-placeholder {
/*text-align: center  ;*/
  color:white !important;
}

:-moz-placeholder {
 /* text-align: center;*/
  color:white !important;
}

::-moz-placeholder {
  /*text-align: center;*/
  color:white !important;

}

:-ms-input-placeholder {
  /*text-align: center;*/
  color:white !important;
}

#AddressPhone{
  background: black;
  color: aliceblue;
  min-height: 450px;


}

.serviceSubsection{
  position: relative;
  min-height:210px;
  background-color: rgb(247, 247, 247);
  color: black;
  text-align: center;
}
.serviceSubsection h4{
  margin-top:20px;
}
.serviceSubsection img{
  padding:0 0 0 0;
}
@media only screen  and (min-width:768px){
.col-sm-2{
  padding:0;

}
}
.serviceSubsection h4{
  color:rgb(8, 180, 223);
}

h1,h2{
  margin-top: 0;
  font-family:"Montserrat", sans-serif;
}

.setMargin{
  margin-top: 50px;
  margin-bottom: 40px;
}

@media only screen and (max-width:768px){
#AboutusImage{
display:none;
}
}

.carousel-indicators li{
  width:30px;
  height:10px;
  border-radius:0px;
  border: 2px solid white;
  background-color: white;
}

.carousel-indicators .active{
  width:30px;
  height:10px;
  background-color: rgb(0, 104, 135);
}

.parallax-1{
  background: url('../images/parallax-1.jpg') no-repeat center;
  background-size:cover;
  background-attachment: fixed;
  height:500px;
}

.parallax-2{
  background: url('../images/parallaxImg-2.png') no-repeat center;
  background-size:cover;
  background-attachment: fixed;
  height:500px;
}



@media only screen and (max-width:786px){
  textarea{
    margin-left: 0px;

    }

}
#logo{
  position:absolute;
  top:3px;
  left:40px;
  background:none;
  z-index:100;
  margin-left:20px;

}

#logo > img{
  padding:5px;
}

@media only screen and (max-width:768px){
  #logo{
    position: absolute;
    top:0;
    margin: 0;

  }

  #logo>img{
    height:45px;
    width:auto;
  }

}


.underline{
  width:80px;
  height: 8px;
  background-color: rgb(37, 67, 147);
  margin-left:45%;
}
.underline-white{
  width:80px;
  height: 8px;
  background-color: white;
  margin-left:45%;
  margin-bottom: 15px;
}

@media only screen and (max-width:768px){
  .underline{
    margin-left:40%;
  }
  .underline-white{
    margin-left:40%;
  }
}
.aligndiv {
  margin-left:40px;
}

.form-align{
width:80%;
margin-left: 40px;

}
@media only screen and (max-width:786px){

  .form-align{
    width:100%;
    margin-left: 10px;

    }

}

.divider{
  border-bottom:1px solid grey;
}

#oprtandMaint{
  background: #fffdfd;
  border:2px solid #e6e6e6;
  padding:5px;
  box-shadow: 0px 3px rgba(128, 128, 128, 0.5);
}

#ServicesInto{
  border:2px solid #e6e6e6;
  padding:5px;
  box-shadow: 0px 3px rgba(128, 128, 128, 0.5);
}
#IndustriesInto{
  background: #fffdfd;
  border:2px solid #e6e6e6;
  padding:5px;
  box-shadow: 0px 3px rgba(128, 128, 128, 0.5);
}

#AboutUs{
  /*background:rgb(16, 36, 70);
  background:rgb(22, 52, 107);*/
  background:rgb(37, 67, 147);
  color:white;
}

.footer-content{
  margin:20px 0px;
}

.About-Desc{
  font-size:18px;
  text-align:justify;
}

#contactUs{
  background-color:rgb(37, 67, 147);
}
#contactUs h1{
text-align:center;
color:white;
}

#form-Name{
  margin-bottom:0;
  margin-top:50px;
}

.form-align input{
  background: none;
  border-top:none;
  border-left:none;
  border-right:none;

}

#form-email{
  margin-bottom:0;
  margin-top:20px;
}

#form-subject{
  margin-bottom:15px;
  margin-top:20px;
}

#form-textarea{
  margin-bottom:15px;
  margin-top:20px;

}
textarea{
  background: none !important;
  border-right:none !important;
  border-left:none !important;
  border-top:none !important;

}
.footer-content img{
  padding:5px;

}

@media only screen and (max-width:768px){
  #Map-Location{
    margin-left:30px;
  }
}

.services-Desc p{
  padding:20px;
  font-size:20px;
  color:black;
  text-align: justify;
  justify-content: space-between;
  /* border:1px solid rgb(0,11,64);
  background-color: rgba(0, 11, 64, 0.5); */

}

#Staffing-underline{
  margin-left:47%;
}
@media only screen and (max-width:768px){
  #Staffing-underline{
    margin-left:40%;
  }
}

/*CSS For Mobile Version*/
