@media only screen and (max-width:768px){
    .serviceSubsection{
      min-height:30px;
    }    
    #Specialisation{
      display:none;
    }
    .carousel{
      display:none;
    }
  
    #Mobile-Header{
      margin-top: 35px;
      background: black;
      min-height:150px;
      position: relative;
    }
  
    #Mobile-Header img{
      width:80%;
    position: absolute;
      top:10%;
      left:10%;
      padding:5px;
    } 

    .web-version, #AddressPhone , .parallax-2{
        display:none;
    }
    
  .Mobile-version{
      margin-top:30px;
  }

  .Mobile-Submenu-Bg{
      background-color: rgb(209, 205, 193);
      box-shadow: 0px 3px rgba(128, 128, 128, 0.5);
      
  }
  

  .Description{
      padding:25px;
  }

 /* .Mobile-version ul{
      margin-top:20px;
      box-sizing:border-box;
      

  }*/
  .Mobile-version ul li{
      margin-top:5px;
  }
  #oprtandMaint{
    background: #fffdfd;
    border:2px 0px solid #e6e6e6;
    padding:0px;
    box-shadow: 0px 3px rgba(128, 128, 128, 0.5);
  }
  #ServicesInto{
    border:0px solid #e6e6e6;
    padding:0px;
    box-shadow: 0px 3px rgba(128, 128, 128, 0.5);
  }
  #IndustriesInto{
    background: #fffdfd;
    border:0px solid #e6e6e6;
    padding:0px;
    box-shadow: 0px 3px rgba(128, 128, 128, 0.5);
  }

  #ServicesInto h1 , #valuesInto h1  {
      font-size :28px;
  }
  
  #AboutUs h1{
      font-size:24px;
  }
  .font-change {
      font-size: 20px;
  }

  .About-Desc{
    font-size:15px; 
    text-align:justify;
  }

  .About{
      padding:0px 25px;
      margin-left:10px;
  }

  .About h2{
      display:none;

  }

  .Mobile-About-margin{
      margin-top:0px;
  }

  .vision-Mission h2, .vision-Mission h4{
      margin-left:30px;
  }

  .vision-Mission h4{
      font-size:20px;
  }
  .vision-Mission{
      min-height:250px;
      background:none;
      padding-right:5px;
  }
  #mission h2{
    margin-top:30px;
  }
  #ITconsulting{
      margin-top:20px;
  }

  .List-Color{
      color:white;
      padding-right:10px;
  }

  #form-Name{
    margin-bottom:0; 
    margin-top:20px;
  }
  }
  
  @media only screen and (min-width:768px){
  #Mobile-Header{
    display:none;
  }
  .Mobile-version{
      display:none;
  }
  }